PORT=3000
DB_URL=

MAIL_PASS=
MAIL_USER=
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465

ACCESS_TOKEN_KEY=
ACCESS_TOKEN_TIME=
REFRESH_TOKEN_KEY=
REFRESH_TOKEN_TIME=

SUPER_ADMIN_USERNAME=
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=